.texto1 {
    background-color: yellow;
    font-style: oblique;
    font-size: xx-large;
    font-variant: small-caps;
}

.texto2 {
    background-color: greenyellow;
    font: bold;



}

.texto3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: chartreuse;
    border: black 1px solid;


}

.bordeVerde {
    border: green 2px solid;



}

.separacion {
    padding: 10px;

    
}

.fondoBlanco {

    background-color: aliceblue;
}

.bordeprincipal {
    border: #b2b2b2 3px solid;

}

.imagen {
    border: black 1px solid;
}

.fondoazul {
    background-color: aqua;

}

.bordeAzul {
    border: blue 2px solid;  
}

.fondoGris {
    background-color: slategray;

}

.parrafo5 {
    font-size: large;
    text-decoration: underline;
    text-align: center;
}